@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.container{
    max-width: 500px;
    padding: 24px 40px;
    background: rgba(0,0,0,0.1);
    border-radius: 25px;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
}

header{
    color: #03022c;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.input_field{
    position: relative;
    height: 100%;
    padding: 10px 20px;
}

.captcha_box input{
    background-color: #fef8f8;
}

.input_field input,
.input_field button{
    width: 100%;
    padding: 15px 28px;
    font-size: 22px;
    color: #03022c;
    border-radius: 12px;
    outline: none;
    border: none;
    margin: 5px;
}

.input_field i{
    position: absolute;
    top: 32%;
    right: 29px;
    background-color: #c061e5;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.input_field i:active{
    transform: scale(0.99);
}

.message{
    font-size: 18px;
    color: #c061e5;
    margin-top: 10px;
    position: relative;
    left: 6px;
    display: none;
}

.message.active{
    display: block;
}

.button button{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 500;
    color: #03022c;
    cursor: pointer;
    background-color: #c061e5;
    padding: 10px 0;
    user-select: none;
}

.button button:active{
    transform: scale(0.99);
}

.button.disabled button{
    opacity: 0.6;
    pointer-events: none;
}

